<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>${title}</title>

<style type="text/css" media="all">
@import url("./style/pico.css");

@import url("./style/syntaxhighlighter.css");
</style>

<script src="http://www.google-analytics.com/urchin.js" type="text/javascript">
</script>
<script type="text/javascript">
_uacct = "UA-2268879-1";
urchinTracker();
</script>

<!--[if lt IE 7.]>
    <script defer type="text/javascript" src="./scripts/pngfix.js"></script>
    <![endif]-->

<script type="text/javascript" src="./scripts/prototype.js">
      //
    </script>
<meta name="verify-v1"
  content="UsIBiaQhhmjFrBwcJ2n4XIvEImPNG4SMVP365rRcpxE=" />
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
</head>

<body class="composite">

<div id="banner"><img src="images/pico-logo.png"
  alt="PicoContainer" />
<div class="clear">
</div>
</div>
<div id="breadcrumbs">
<div class="left">Last Published: Nov 15 2007</div>
<div class="clear">

</div>
</div>

<div id="leftColumn">
<div id="navColumn"><#list sitemap.sections as section>
<h1>${section.name}</h1>
<ul>
  <#list section.pages as otherPage> <#if otherPage = page>
  <li class="none"><strong>${otherPage.title}</strong></li>
  <#else>
  <li class="none"><a href="${otherPage.href}">${otherPage.title}</a>
  </li>
  </#if> </#list>
</ul>
</#list>
<h1>Hosted by</h1>
<img alt="Hosted at Codehaus"
  src="http://ci.codehaus.org/codehaus-small.png" /><br />
<h1>Tools</h1>
<img alt="Build with Maven 2"
  src="http://maven.apache.org/images/logos/maven-feather.png" /> <br />
<img alt="IDEA"
  src="http://www.jetbrains.com/idea/opensource/img/banners/idea88x31_white.gif" />
<br />
</div>
</div>
<div id="bodyColumn">
<div id="contentBox">
<div class="section">
<h2>${title}</h2>
${body}
</div>
</div>
</div>
<div class="clear">
</div>
<div id="footer">
<div class="right">&#169; 2003-2007 PicoContainer Committers</div>
<div class="clear">
</div>
</div>

</body>

<!--  Scripts to highlight code:  MUST be left AFTER the body -->
<script language="javascript" src="./scripts/shCore.js">
      //
    </script>
<script language="javascript" src="./scripts/shBrushJava.js">
      //
    </script>
<script language="javascript" src="./scripts/shBrushXml.js">
      //
    </script>
<script type="text/javascript">
      // <![CDATA[
      var elements = document.getElementsByClassName('source');
      elements.each(function(element) {
          var content = element.getElementsByTagName('pre')[0].innerHTML;
          var classType = /^&lt;/.test(content) ? "xml" : "java";          
          content = "<textarea name=\"code\" class=\"" + classType + "\">" + content + "</textarea>";
          new Insertion.Before(element, content);
          element.remove(element);
      });

      dp.SyntaxHighlighter.HighlightAll('code', false, false);
      // ]]>
   </script>

</html>
