<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <display-name>NanoWar WebWork 1 Demo</display-name>

    <context-param>
        <param-name>nanocontainer.groovy</param-name>
        <param-value><![CDATA[
        	caf = new org.picocontainer.adapters.AnyInjectionFactory()
                                                                    pico = new org.picocontainer.defaults.DefaultPicoContainer(caf, parent)
                                                                    if(assemblyScope instanceof javax.servlet.ServletContext) {
                                                                        println("**** Webapp-level pico components registered by Groovy")
                                                                        pico.registerComponentImplementation(org.nanocontainer.nanowar.sample.dao.simple.MemoryCheeseDao)
                                                                    } else if(assemblyScope instanceof javax.servlet.http.HttpSession) {
                                                                        println("**** Session-level pico components registered by Groovy")
                                                                        pico.registerComponentImplementation("cheeseStore", org.nanocontainer.nanowar.sample.service.defaults.DefaultCheeseService)
                                                                    } else if(assemblyScope instanceof javax.servlet.ServletRequest) {
                                                                        println("**** Request-level pico components registered by Groovy")
                                                                    }
                                                                ]]></param-value>
    </context-param>

    <filter>
        <filter-name>picoRequest</filter-name>
        <filter-class>org.nanocontainer.nanowar.ServletRequestContainerFilter</filter-class>
    </filter>
            
    <filter-mapping>
        <filter-name>picoRequest</filter-name>
        <url-pattern>*.vm</url-pattern>
    </filter-mapping>

    <listener>
        <listener-class>org.nanocontainer.nanowar.ServletContainerListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>WebWork</servlet-name>
        <servlet-class>org.nanocontainer.nanowar.webwork.PicoWebWork1ServletDispatcher</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>velocity</servlet-name>
        <servlet-class>org.nanocontainer.nanowar.webwork.WebWorkVelocityServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>WebWork</servlet-name>
        <url-pattern>*.action</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>velocity</servlet-name>
        <url-pattern>*.vm</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.vm</welcome-file>
    </welcome-file-list>

</web-app>


