<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <display-name>NanoWar NanoWeb Demo</display-name>

    <context-param>
        <param-name>nanocontainer.groovy</param-name>
        <param-value><![CDATA[

            pico = builder.container(parent:parent, scope:assemblyScope) {
                if(assemblyScope instanceof javax.servlet.ServletContext) {
                    println("**** Application-level pico components registered by Groovy")
                    // registerComponentImplementation(java.util.RandomNumberMaker)
                } else if(assemblyScope instanceof javax.servlet.http.HttpSession) {
                    println("**** Session-level pico components registered by Groovy")
                    component(class:java.util.Random)
                } else if(assemblyScope instanceof javax.servlet.ServletRequest) {
                    println("**** Request-level pico components registered by Groovy")
                    component(class:org.picocontainer.web.sample.nanoweb.NumberToGuess)
                }
            }
        ]]></param-value>
    </context-param>

    <listener>
        <listener-class>org.picocontainer.web.PicoServletContainerListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>NanoWeb</servlet-name>
        <servlet-class>org.picocontainer.web.nanoweb.NanoWebServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>NanoVelocity</servlet-name>
        <servlet-class>org.picocontainer.web.nanoweb.NanoWebVelocityServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <!-- For actions -->
    <servlet-mapping>
        <servlet-name>NanoWeb</servlet-name>
        <url-pattern>*.nano</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NanoWeb</servlet-name>
        <url-pattern>*.groovy
        </url-pattern>
    </servlet-mapping>

    <!-- For views (forwarded to by NanoWeb after action execution) -->
    <servlet-mapping>
        <servlet-name>NanoVelocity</servlet-name>
        <url-pattern>*.vm</url-pattern>
    </servlet-mapping>
    
    <!-- Welcome File -->
    <welcome-file-list>
      <welcome-file>index.html</welcome-file>
    </welcome-file-list>

</web-app>


