#banner {
  border-bottom: 1px solid #fff;
}

#banner img {
  padding: 4px 0px 4px 20px;
}

#breadcrumbs {
  border: 1px solid;
  background-color: #090;
  color: #fff;
}

#navColumn {
  margin: 10px 10px 10px 10px;
  border: 1px solid #fff;
  background-color: #fff;
  float: left;
  height: 5000px;
}

#navColumn h1 {
  font-size: 10pt;
  border-bottom: 1px solid #aaaaaa;
  padding-top: 12px;
  margin-right: 20px;
  color: #66665c;
}

#navColumn ul {
  list-style: none;
  margin-left: 8px;
  padding-left: 1em;
  text-indent: -1em;
}

#navColumn ul li:before {
  content: "\00BB \0020";
  font-weight:bold;
}

#footer {
  width: 100%;
  background-color: #090;
  border: 1px solid;
  color: #fff;
  padding: 5px 0 5px 0;
  margin-top: 50px;
  font-size: 0.8em;
  position: fixed;
  bottom: 0px;
}

#uads {
  position: absolute;
  right: 40px;
  top: 100px;
}

#header {
  margin: 0 auto 0 auto;
  margin-left: 30px;
  margin-bottom: 40px;
}

#content {
  margin: 0 auto 0 auto;
  margin-left: 30px;
  text-align: left;
}

#left {
  position: absolute;
  z-index: 2;
  left: 8px;
  width: 184px;
  top: 125px;
  bottom: 8px;
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0;
  font-family: "Trebuchet MS", Arial, Verdana;
  font-size: 0.84em;
  color: #555555;
  background-color: #FFFFFF;
  text-align: left;
  padding: 0 0 10px 0;
}

body,td,select,input,li {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-size: 13px;
}

div.section {
  margin-right:115px;
}

div.section ul li, div.section ol li {
  margin-left:35px;
}

a {
  text-decoration: none;
}

a:link {
  color: #090;
}

a:visited {
  color: #090;
}

a:active,a:hover {
  color: #090;
}

table.bodyTable th {
  color: white;
  background-color: #bbb;
  text-align: left;
  font-weight: bold;
}

table.bodyTable th,table.bodyTable td {
  font-size: 1em;
}

table.bodyTable tr.a {
  background-color: #ddd;
}

table.bodyTable tr.b {
  background-color: #eee;
}

.logo {
  float: right;
  margin-right: 30px;
}

.clear {
  clear: both;
}

.left {
  text-align: left;
  margin-left: 10px;
}

.right {
  text-align: right;
  margin-right: 10px;
}
