<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4"
         xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>NanoWAR-JSF Integration Demo</display-name>
	<!--  Tell NanoWAR where to find its configuration script. -->
	<context-param>
	  <param-name>nanocontainer.groovy</param-name>
	  <param-value>/WEB-INF/nanocontainer.groovy</param-value>
	</context-param>	
	
	<!--  
			NanoWAR filter to build the request container with each request to the
			faces servlet.
	 -->
	<filter>
	    <filter-name>NanoWar</filter-name>
	    <filter-class>org.nanocontainer.nanowar.ServletRequestContainerFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>NanoWar</filter-name>
		<servlet-name>Faces Servlet</servlet-name>
	</filter-mapping>
    <listener>
        <listener-class>org.nanocontainer.nanowar.NanoWarContextListener</listener-class>
    </listener>	
    
    <!-- 
    	JSF Installation.
     -->
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.jsf</url-pattern>
	</servlet-mapping>	
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
